/* .nav-button {

  } */
  
  /* .nav-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #3498DB;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #2980B9;
    cursor: pointer;
  } */




  .nav-button{
    position: relative;
    display: inline-block;
    color: var(--nav-button-color, #EAF2FF);  /*sets the color to the variable, if none are declared use the off-white */
    text-decoration: none;
    padding: 0.5rem 0rem;
    transition: transform 0.3s ease, color 0.3s ease

  }

  .nav-button::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--nav-button-color-hover, #4FE8D2); /*sets the color to the variable, if none are declared use the aquamarine */
    transform: translateX(-50%);
    transition: width 0.3s ease;

  }

  .nav-button:hover{
    color: var(--nav-button-color-hover, #4FE8D2); /*sets the color to the variable, if none are declared use the aquamarine */
    transform: scale(1.2);
  }

  .nav-button:hover::after{
    width: 100%;
  }



