html, body {
  margin: 0;
  padding: 0;
}

app-header,
app-home {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
  main, .content-wrapper {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
* {
    border: none !important;
  }
  

html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
